@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Deva:wght@100..800&display=swap');

/* Resetando margens e padding */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zeyada", cursive;
}

/* Adicionando a imagem de fundo e a sobreposição para o corpo */
body {
    font-size: 30px;
    line-height: 1.6;
    background-image: url('https://images.unsplash.com/photo-1516205651411-aef33a44f7c2?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cGFwZWwlMjBkZSUyMHBhcmVkZSUyMGZsb3J8ZW58MHx8MHx8fDA%3D');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #000;
    position: relative;
}

/* Adicionando uma sobreposição escura no fundo */
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/* Cabeçalho */
header {
    background-color: rgba(2, 2, 2, 0);
    color:white;
    padding:20px;
    text-align:center;
}

h1::before {
    content: " ";
    font-size: 48px;
    margin-right: 10px;
    font-family: "Playpen Sans Deva", cursive;
}

/* Seções */
section {
    padding: 20px;
    margin: 20px 0;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    border-radius: 8px;
}

/* Novo botão animado */
.animated-button {
    background: transparent;
    padding: 40px 60px;
    margin: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: translate(2%, 2%);
    overflow: hidden;
    color: #d4e0f7;
    border-radius: 50%;
    font-size: 20px;
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0)
    position:relative;
    font-family:'Beautiful Handmade', sans-serif; /* Alterei aqui para usar a mesma fonte */
}

/* Estilos para o texto do botão */
.animated-button span {
    position: absolute;
    font-family: "Playpen Sans Deva", cursive;
}

.animated-button span:nth-child(1) {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #00000000, #2662d900);
    animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.animated-button span:nth-child(2) {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 2px;
    background: linear-gradient(to top, rgba(8, 20, 43, 0), #2662d900);
    animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
    0% { transform: translateY(100%); }
    100% { transform: translateY(-100%); }
}

.animated-button span:nth-child(3) {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #2rgba(38, 98, 217, 0) 22, 22), 98, 217, 0)0, 0)0, 0)
    animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}

.animated-button span:nth-child(4) {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 2px;
    background: linear-gradient(to bottom, rgba(8, 20, 43, 0), #2662d900);
    animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(100%); }
}
